<div class="sidenav-header">
    <img [width]="profilePictureSize()" [height]="profilePictureSize()" src="/assets/default-profile-picture.svg" alt="">
    @if (!this.sidenavCollapsed()) {
        <div class="header-text">
            <h2>User</h2>
            <p>User description</p>
        </div>
    }
</div>
<mat-nav-list>
    @for (menu of menuItems(); track $index) {
        <a mat-list-item [routerLink]="menu.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
            <span matListItemTitle *ngIf="!this.sidenavCollapsed()">{{menu.label}}</span>
        </a>
    }
</mat-nav-list>
